<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666628962756-dk3e77eovt1mtptp82bmj11u0g4gile5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666628962756-dk3e77eovt1mtptp82bmj11u0g4gile5</string>
	<key>API_KEY</key>
	<string>AIzaSyA4lnoJx0VR2tcSFMDZfKRnJ5vz3ThWlWA</string>
	<key>GCM_SENDER_ID</key>
	<string>666628962756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dundak.academi</string>
	<key>PROJECT_ID</key>
	<string>academi-bjj</string>
	<key>STORAGE_BUCKET</key>
	<string>academi-bjj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666628962756:ios:c0e4cb11fc0c5d17</string>
	<key>DATABASE_URL</key>
	<string>https://academi-bjj.firebaseio.com</string>
</dict>
</plist>